#Headline {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}

#Disclaimer {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: -25px;
}

.Buttoncontainer {
    height: 100px;
    width: 600px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}

.Button {
    height: 50px;
    width: 300px;
    background-color: blue;
    color: rgb(255, 100, 0);
    font-size: 25px;
    position: absolute;
}

#SelectETHAddy {
    left: 0px;
    top: 0px;
}

#AxieFloorButton {
    left: 0px;
    bottom: 0px;
    cursor: not-allowed;
}

#AccountCalculator {
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
}

#ETHAddress {
    position: absolute;
    border: 1px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 297px;
    line-height: 50px;
    text-align: center;
}

.Datacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    position: relative;
}

.BoxTextCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    text-align: center;
}

.BoxTextPriceCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
}

#PlayerOwned {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

.PlayerDatacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 20px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    position: relative;
}

.BoxTextAmountCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
}

#AccountWorthField {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

#EntireAccountWorthField {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

.AdvancedButtoncontainer {
    height: 100px;
    width: 600px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}

.LargeButton {
    height: 50px;
    width: 600px;
    background-color: blue;
    color: rgb(255, 100, 0);
    font-size: 25px;
    position: absolute;
}

#ShowHideAdvanced {
    left: 0px;
    top: 0px;
}

#AdvancedAxieFloorButton {
    left: 0px;
    bottom: 0px;
    cursor: not-allowed;
    visibility: hidden;
    font-size: 20px;
}

#AdvancedAccountCalculator {
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
    visibility: hidden;
    font-size: 20px;
}