#Headline {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}

#Disclaimer {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: -25px;
}

.InfoText {
    padding-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.Buttoncontainer {
    height: 100px;
    width: 600px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}

.Button {
    height: 50px;
    width: 300px;
    background-color: blue;
    color: rgb(255, 100, 0);
    font-size: 25px;
    position: absolute;
}

#SelectETHAddy {
    left: 0px;
    top: 0px;
}

#AxieFloorButton {
    left: 0px;
    bottom: 0px;
    cursor: not-allowed;
}

#AccountCalculator {
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
}

#ETHAddress {
    position: absolute;
    border: 1px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 297px;
    line-height: 50px;
    text-align: center;
}

.Datacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    position: relative;
}

.BoxTextCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    text-align: center;
}

.BoxTextPriceCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
}

#PlayerOwned {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

.PlayerDatacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 20px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    position: relative;
}

.BoxTextAmountCategory {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
}

#AccountWorthField {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

#EntireAccountWorthField {
    height: 40px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
}

.AdvancedButtoncontainer {
    height: 100px;
    width: 600px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}

.LargeButton {
    height: 50px;
    width: 600px;
    background-color: blue;
    color: rgb(255, 100, 0);
    font-size: 25px;
    position: absolute;
}

#ShowHideAdvanced {
    left: 0px;
    top: 0px;
}

#AdvancedAxieFloorButton {
    left: 0px;
    bottom: 0px;
    cursor: not-allowed;
    visibility: hidden;
    font-size: 20px;
}

#AdvancedAccountCalculator {
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
    visibility: hidden;
    font-size: 20px;
}

#AdvancedFeatures {
    display: grid;
    grid-template-columns: 150px 450px 200px;
    height: 1500px;
    width: 800px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}

#AdvancedDescription {
    height: 50px;
    width: 800px;
    display: grid;
    grid-template-columns: 150px 450px 200px;
    left: 0px;
    border: 1px solid black;
    position: absolute;
    text-align: center;
}

#AdvancedFeaturesCheckBoxes {
    height: 1450px;
    width: 150px;
    display: grid;
    grid-template-rows: 30px;
    left: 0px;
    top: 50px;
    border: 1px solid black;
    position: absolute;
}

#AmountAxiesinCategory {
    height: 1500px;
    width: 450px;
    left: 150px;
    border: 1px solid black;
    position: absolute;
}

#WorthAxiesinCategory {
    height: 1500px;
    width: 200px;
    left: 600px;
    border: 1px solid black;
    position: absolute;
}

/* Customize the label (the container) */
.container {
    padding-left: 23px;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 16px;
    width: 16px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: blue;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator, also where the niky stile checkmark is created */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid rgb(255, 100, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 
